.menu-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.menu-filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.menu-column {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 459px;
  grid-gap: 20px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

@media (max-width: 980px) {
  .menu-column {
    grid-template-columns: repeat(1, 1fr);
  }
}

.menu-shuffle,
.menu-sort {
  background-color: #1171ba;
}

.menu-sort {
  margin-right: 10px;
}
.menu-item {
  flex: 1 0 calc(25% - 20px);
  max-width: calc(100% - 20px);
  transition: transform 0.3s ease-in-out;
  margin: 0 10px 20px 0;
  background-color: transparent;
  margin: auto;
  border: 1px solid #ccc;
}

.menu-item .card {
  width: 1fr;
  display: flex;
  height: 200px;
  width: 300px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  border: none;
}

.menu-item .card .card-img-top {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  background-color: white;
}

.menu-item .card h3 {
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  bottom: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: #282222;
}

.menu-item .card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  color: red;
}

.menu-item .card img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.menu-item-content {
  padding: 20px;
}

.menu-filter {
  text-align: center;
}

.menu-filter .buttons {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.menu-filter .buttons:hover {
  background-color: #0056b3;
  color: #fff;
}

/* upload image section */

.input-container-file {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#category {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
}

#mobile-sort,
#mobile-filter,
#mobile-sort-2 {
  padding: 0.5rem;
  background: transparent;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.menu-filter .active-2 {
  background-color: white;
  color: black;
  border: 1px solid #007bff;
}

#mobile-sort-2 {
  width: 200px;
  border-radius: 5px;
}

#mobile-sort-2 > option {
  background-color: transparent;
}

#images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
